*
{
    margin: 0;
    padding: 0;  
    
}

html,
body
{
    overflow: hidden;
  overscroll-behavior: none;
    
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    left: 0; 
    z-index: -1; 
}
